
<div class="row">

  <div class=" add s-panel project-details col-lg-6 col-md-offset-2">
	<div class="panel-heading"><h5>{{project.name}}</h5></div>
	<div class="panel-body">
		<div class="col-md-8" >
		
			<div class=" form-group row">
				<label>Name</label>
				<input class="form-control" [(ngModel)]="project.name" >
			</div>	
			
			<div class=" form-group row">		  
				<label>Description</label>
				<textarea class="form-control" [(ngModel)]='project.desc'>   </textarea>
			</div> 
            <div class=" form-group row">  	
			    <div class="col-md-5">
					<label>Add Members</label>  
					<select #member class="form-control">
					<option *ngFor="let user of users; let i = index"  value={{user._id}}  class="list" >	
					{{user.local.fname}}
					</option>
					</select>
					<button  class="btn btn-primary" (click)="addMember(member.value)" > add member</button>
                </div>
				<div class="col-md-5">
					<label>Completed</label>  
					<input type="number" class="form-control" max=100  [(ngModel)]='project.completed'/>
			    </div>
			</div>
			<div class=" form-group row">  
             
			 	<button  class="btn btn-primary" (click)="update(project)"> Update</button>

			</div>
		</div>
	</div>
    </div>

</div>


	

		<div class="row">		
			
			<div class="col-sm-5 col-lg-5 add" >
				<div class="row">
					<label>Sprint Name</label> 
					<input #name  class="form-control" />
					<label>Description </label> 
					<textarea #status  class="form-control" id="textarea" name="textarea"></textarea>
				</div>
				<div class="row">				
					<div class="col-sm-5 col-lg-5">
						<label>Start Date</label> 
						<input class="date form-control" [(ngModel)]="sprintStartDate"  ng2-datetime-picker    date-only="true" readonly />
					</div>
					
					<div class="col-sm-5 col-lg-5">
						<label>End Date</label> 
						<input class="date form-control" [(ngModel)]="sprintEndDate"  ng2-datetime-picker    date-only="true" readonly  />
					</div>					
				</div>
				<div class="row">
					<button class="btn btn-primary form-control" (click)="create(name.value,status.value)">	Add	</button>
				</div>

			</div>
		</div>
	
	


<div class="row">
	<div class="col-sm-2 col-lg-2 " *ngFor="let sprint of sprints"   >
		<div class=" card">

			<div  style="margin-left: 92%" (click)="deleteSprint(sprint._id)"> <i  class="fa fa-times-circle fa-2x" aria-hidden="true"  aria-hidden="true"></i></div>
			<div class="{{progress}}{{percentage}} a-margin"  >
				<span>50% </span>
				<div class="slice">
					<div class="bar"></div>
					<div class="fill"></div>
				</div>
			</div>
			<div class="card-block text-center" (click)="onSelect(sprint)" >
			<h4 class="card-title"> <strong>{{sprint.name}}</strong></h4>
			<p class="card-text"></p>
			</div>
		</div>
	</div>	

	

</div>	
	
	<div>
	  <li *ngFor="let sprint of sprints; let i = index" (click)="onSelect(sprint)" >   
		{{sprint.name}}
      </li>

	  <div *ngIf="currentSprint">	  
	  {{currentSprint | json}}
	  
	  
	  
	  
	  
	<div style="display:none">
		<label>task</label> 
		<input #name />
		<input #status />	
		<button (click)="addTask(name.value,status.value)" >
		Add
		</button>
	</div>
	
	
	
	
	  </div>
	</div>