 <h1>Project</h1>
   
	
	
<div class="row">	
			
	<div class="col-sm-5 col-lg-5 add  " >
			<div class="col-sm-12">
				<label>Project Name</label> 
				<input #name  class="form-control"  (click)="showAddDetails()"/>					
			</div>
			<div class="col-sm-12  "   [hidden]="activeAddDetails" >	
				<div class="form-group">
				<label>Description </label> 
				<textarea #desc  class="form-control" id="textarea" name="textarea"></textarea>			
				</div>	
				<div class="col-sm-6 form-group ">
					<label>Start Date</label> 
					<input class="date form-control" [(ngModel)]="starDate"  ng2-datetime-picker    date-only="true"  readonly />
				</div>
				
				<div class="col-sm-6  form-group">
					<label>End Date</label> 
					<input class="date form-control" [(ngModel)]="endDate"  ng2-datetime-picker    date-only="true" readonly />
				</div>					
			</div>
			<div class="col-sm-12 form-group">
				<button class="btn btn-primary form-control" (click)="create(name.value,desc.value,starDate,endDate); name.value='';desc.value='' ">
				Add
				</button>
				<div class="margin-10" [hidden]="activeAddDetails"  >
					<button class="btn btn-primary form-control" (click)="cancel()" >
						Cancel
					</button>
				</div>
			</div>
			
			<div class=" "> 
			  
			</div>

	</div>
	
</div>
		

<div class="row">

<div class="col-sm-2 col-lg-2 "  *ngFor="let project of projects"   >
	<div class=" card">		 
		<div  (click)="deleteProject(project._id)" style="margin-left: 92%"> <i  class="fa fa-times-circle fa-2x" aria-hidden="true"  aria-hidden="true"></i></div>
			
		<div  class="a-margin">
			<div class="{{progress}} p{{project.completed}} "  >
				<span>{{project.completed}}%</span>
				<div class="slice">
					<div class="bar"></div>
					<div class="fill"></div>
				</div>
			</div>
		</div>
		<div class="card-block text-center" (click)="onSelect(project)">		
			<h4 class="card-title"> <strong>{{project.name}}</strong></h4>
			<p class="card-text">{{project.desc}}</p>		
			<div>
				<p>2 <strong>Sprint</strong></p>
			</div>		
		</div>
	</div>
</div>	

</div>



