
<h1>{{title}}</h1> 
    {{sprintId}} 
<tabs>
<tab [tabTitle]="'Tasks'">
<button class="btn btn-primary" (click)="showAdd()" >Add</button>
		<div>
		<label>Task name:</label>
		<div [hidden]="activeAdd" class="form-style-5" >	
		<fieldset>
		<legend><span class="number">1</span> Task </legend>
		<input type="text" name="field1" placeholder="Task Name" #taskname>
		<label for="type">Piority:</label>
		<select id="type" name="field4" #taskPiority>
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		</select>

		<textarea name="field3" placeholder="Description of task" #taskDesc></textarea>
		<label for="job">Type:</label>
		<select id="job" name="field4" #taskType>
		<optgroup label="Devloping">
		<option value="devloping">Devloping</option>
		<option value="testing">Testing</option>
		</optgroup>
		<optgroup label="Testing">
		<option value="bug fix">Bug Fix</option>
		</optgroup>
		</select>   

		 
		
		</fieldset>

		<fieldset>
		<legend><span class="number">2</span> Date</legend>
		<input class="date" [(ngModel)]="starDate"  ng2-datetime-picker    date-only="true" />
		<input class="date" [(ngModel)]="endDate"  ng2-datetime-picker    date-only="true" />

		</fieldset>


		<button (click)="add(taskname.value,1,taskPiority.value,taskDesc.value,taskType.value); taskname.value='' ">
		Add
		</button>
		 <button class="btn btn-primary" (click)="cancel()" >Cancel</button>
		</div>


		</div>

		
<div class="container">  
  <div class="panel-group list-type1" id="accordion">
    <div  *ngFor="let task of tasks; let i = index"  class="panel ">
      <div class="list ">
    
          <a (click)="onSelect(task)" data-toggle="collapse" data-parent="#accordion" href="#{{task._id}}  ">{{task.name}}</a>
            <span class="fa fa-trash"  (click)="delete(task); $event.stopPropagation()" aria-hidden="true"></span>
		<div class="c100 small p{{task.progress}}">
				<span>{{task.progress}}%</span>
				<div class="slice">
					<div class="bar"></div>
					<div class="fill"></div>
				</div>
		</div>
      </div>
      <div id="{{task._id}}" class="collapse ">
        <div class="panel-body task-details">
		<div *ngIf="selectedTask">
			<div class="row row-1">
			<h2 class="title">{{selectedTask.name}}</h2>
			</div>
			<div class="row  rwo-2">
				<div class="col-md-5">
				Created By <br>
				Priority:{{selectedTask.priority}}<br>
				Status:{{selectedTask.status}}<br>
				</div>
				<div class="col-md-5">
				Asign To:{{selectedTask.priority}}<br>
				</div>
			</div>

			<div class="row row-3">
				<div class="col-md-5">
				Description
				{{selectedTask.description}}<br>
				</div>
			</div>
					
			<div class="row row-4">
				<div class="col-md-5">
					<span class="textLable"> Status</span>
					<select  class="form-control" [(ngModel)]="selectedTask.status">
					<option value="not started">Not Started</option>
					<option value="started">Started</option>
					<option value="completed">completed</option>
					</select>
				</div>
				<div class="col-md-5">
				Progress
				 <input type="text" class="form-control" [(ngModel)]="selectedTask.progress"  max="100">
				
				</div>				
			</div>
			   <span (click)="updateTask('1')"> <button class="btn btn-primary"> Update </button></span>
			
			<div  class="comment-block">			
				<div class="comments" *ngFor="let comment of selectedTask.comments; let i = index"   >
			
				{{comment.comment}}
				
				</div>
				<input type="text" #comment>
				<span (click)="addComment(comment.value)"> <button class="btn btn-primary"> post </button></span>
			</div>	
			</div>
		
		
		</div>
      </div>
    </div>

  
  </div> 
</div>
    

</tab>
	<tab tabTitle="Board">

<div class="row board row-eq-height">
		<div class="col-md-3" >
		<h2 class="board-heading" > Tasks</h2>
			<div class="taskslist " id="tasks" [dragula]='"deploy"'  [dragulaModel]='sprintTask'> 
				<li *ngFor="let task of sprintTask; let i = index"   >
				<div *ngIf="mapTasks[task]"  > <div class="pin"></div><div class="stickyNote"><span class="badge">{{i+1}}</span> {{mapTasks[task].name}}	 <input  class='tid' type="hidden"  value={{mapTasks[task]._id}}/></div></div>	
				</li>		
			</div>
		</div>
		<div class="col-md-3" >
		<h2 class="board-heading" > Working</h2>
		<div   class="taskslist "  id="workingTask" [dragula]='"deploy"'  [dragulaModel]='workingTask'> 
			<li *ngFor="let task of workingTask; let i = index"   >
			<div *ngIf="mapTasks[task]" class="stickyNote" ><span class="badge">{{i+1}}</span> {{mapTasks[task].name}} <br>{{mapTasks[task].desc}}		 <input  class='tid' type="hidden"  value={{mapTasks[task]._id}}/></div>	
		</div>
		</div>
		
		<div class="col-md-3" >
			<h2 class="board-heading"> Stage</h2>
			<div   class="taskslist "   id="stageTask" [dragula]='"deploy"'  [dragulaModel]='stageTask'> 
				<li *ngFor="let task of stageTask; let i = index"   >
				<div *ngIf="mapTasks[task]" class="stickyNote" > <span class="badge">{{i+1}}</span> {{mapTasks[task].name}}	 <input  class='tid' type="hidden"  value={{mapTasks[task]._id}}/></div>	
			</div>
		</div>
		
		<div class="col-md-3" >
			<h2 class="board-heading"> Production</h2>
			<div  class="taskslist "    id="prodTask" [dragula]='"deploy"'  [dragulaModel]='prodTask'> 
				<li *ngFor="let task of prodTask; let i = index"   >
				<div *ngIf="mapTasks[task]" class="stickyNote" > <span class="badge">{{i+1}}</span> {{mapTasks[task].name}}	 <input  class='tid' type="hidden"  value={{mapTasks[task]._id}}/></div>	
			</div>
		</div>
		</div>
	
{{ mapTasks | json}}

	</tab>
</tabs>

	test
	<ul class="tasks"  [dragula]='"task"'   [dragulaModel]='sprintTask'>
      <li *ngFor="let task of sprintTask; let i = index"  >
       <div *ngIf="mapTasks[task]"> <span class="badge">{{i+1}}</span> {{mapTasks[task].name}} {{mapTasks[task].desc}}{{mapTasks[task].priority}} 	 <input  class='tid' type="hidden"  value={{mapTasks[task]._id}}/></div>	
      </li>
    </ul>
	
	
	
<hr>
display






	
	
	map task
	{{mapTasks | json }}
	<br>
	<br>
	<br>
	{{sprintTask | json}}
	<!--map
	{{mapTasks | json }}

	
	 <div class='container'>
            <pre>{{tasks | json}}</pre>
        </div> -->
		{{workingTask | json}}
		{{stageTask | json}}
		{{prodTask | json}}
		
		
 <!-- <task-detail1 [task]="selectedTask"></task-detail1>-->