<!-- views/login.ejs -->
<!doctype html>
<html>

<head>
    <title>Polling Sign In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <link rel="stylesheet" href="./stylesheets/style.css">
      <link rel="stylesheet" href="./stylesheets/contactstyle.css">
    <link rel="stylesheet" href="bootstrap/css/animate.css">
		<link rel="stylesheet" type="text/css" href="views/css/cardio.css">
	<link rel="stylesheet" type="text/css" href="views/fonts/eleganticons/et-icons.css">
</head>

<body  style="background: black ">
    <div class="wrapper">
     <div class="brand"></div>

	
	<div class="modal fade in" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: block; padding-right: 17px;">
		<div class="modal-dialog" style="margin-top: 94px;">
			<div class="modal-content modal-popup">
				<a href="/"  class="close-link"><i class="icon_close_alt2"></i></a>
				<h3 class="white">Login</h3>
				    <% if (message.length > 0) { %>
                <div class="alert alert-danger">
                    <%= message %>
                </div>
                <% } %>
				<form action="/login" class="popup-form" method="post">
					<input type="text" class="form-control form-white" placeholder="email" name="email">
					<input type="text" class="form-control form-white" placeholder="password" name="password">
					<!--<div cl	ass="dropdown">
						<button id="dLabel" class="form-control form-white dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Pricing Plan
						</button>
						<ul class="dropdown-menu animated fadeIn" role="menu" aria-labelledby="dLabel">
							<li class="animated lightSpeedIn"><a href="#">1 month membership ($150)</a></li>
							<li class="animated lightSpeedIn"><a href="#">3 month membership ($350)</a></li>
							<li class="animated lightSpeedIn"><a href="#">1 year membership ($1000)</a></li>
							<li class="animated lightSpeedIn"><a href="#">Free trial class</a></li>
						</ul>
					</div>-->
					<!--<div class="checkbox-holder text-left">
						<div class="checkbox">
							<input type="checkbox" value="None" id="squaredOne" name="check" />
							<label for="squaredOne"><span>I Agree to the <strong>Terms &amp; Conditions</strong></span></label>
						</div>
					</div>-->
					<button type="submit" class="btn btn-submit">Submit</button>
					<div class="row">
                          <div class="col-md-10 col-md-offset-1">
                            <p>Need an account? <a href="/signup">Signup</a></p>
                            <p>Or go <a href="/">home</a>.</p>
                        </div>
                    </div>
				</form>
			</div>
		</div>
	</div>

    <div class="footer col-xs-12">
    © Copyright 2015 Polling Application. All Rights Reserved.
    </div>
        </div>
</body>

</html>
